<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Student Profile Management System Servlets -->
    <servlet>
        <servlet-name>ListStudent</servlet-name>
        <servlet-class>com.IA.view.ListStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.IA.view.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDeleteStudentServlet</servlet-name>
        <servlet-class>com.IA.view.EditDeleteStudentServlet</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>ListStudent</servlet-name>
        <url-pattern>/ListStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDeleteStudentServlet</servlet-name>
        <url-pattern>/EditDeleteStudentServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
